@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height:500px;">
    <h2 style="margin-top: -30px;">LVFC Scoreboard</h2>
    <p>
        <div class="col-xs-12 col-sm-12" style="margin-top:15px; margin-bottom:15px;">
            &nbsp;Click on the Scoreboard link to view live and upcoming bets
        </div>
    </p>
</div>
